{% extends 'base/Base.html' %} {% block content %}
<main>
    <form class="formularios" action="" method="POST">
        {% csrf_token %}
        <div class="titulo_formulario">
            <h1>Añadir Viajes</h1>
        </div>
        <!-- {{ form.as_p}} -->
        
        <div class="contenedor_input_usuario">
            <div class="mb-3 row">

                <label for="id_id_viaje" class="col-sm-3 col-form-label">Viaje</label>
                <div class="col-sm-9">
                    <select name="id_viaje" id="tipo_documento id_id_viaje" class="id_viaje input_usuario">

                        {% for viajes in Viaje %}
                        <option value="{{viajes.id_ciudad_1}} - {{viajes.id_ciudad_2}}">{{viajes.id_ciudad_1}} - {{viajes.id_ciudad_2}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="contenedor_input_usuario">
            <div class="mb-3 row">

                <label for="id_usuario_id" class="col-sm-3 col-form-label">Usuario</label>
                <div class="col-sm-9">
                    <select name="usuario_id" id="tipo_documento id_usuario_id" class="usuario_id input_usuario">

                        {% for usuario in Usuario %}
                        <option value=" {{usuario.id}} - {{usuario.nombre}}">{{usuario.id}} - {{usuario.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="contenedor_input_usuario">
            <div class="mb-3 row">

                <label for="id_sillas" class="col-sm-3 col-form-label">Pasajes</label>
                <div class="col-sm-9">
                    <input type="number" class="input_usuario" id="id_sillas" name="sillas"
                        placeholder="Ingrese sus Sillas" required max="40">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-light">Ingresar viaje</button>
        <a type="button" href="/tickets" class="btn btn-info">Volver</a>
    </form>
</main>
{% endblock %}